version: '2'

services:
  wow_ah_importer_db:
    build: .
    restart: always
    environment:
      - ACTION=run
      - SERVICE_NAME=db_actions
    volumes:
      - /data/WoW/AH_Importer/app/settings.py:/usr/src/app/settings.py
    dns: 8.8.8.8
    networks:
      - wow
    extra_hosts:
      - "eu.api.battle.net:23.21.41.101"
      - "us.battle.net:24.105.29.40"
      - "eu.battle.net:185.60.115.40"
  wow_ah_importer_ah:
    build: .
    restart: always
    environment:
      - ACTION=run
      - SERVICE_NAME=ah_actions
    volumes:
      - /data/WoW/AH_Importer/app/settings.py:/usr/src/app/settings.py
#    dns: 8.8.8.8
    networks:
      - wow
    extra_hosts:
      - "eu.api.battle.net:23.21.41.101"
      - "us.battle.net:24.105.29.40"
      - "eu.battle.net:185.60.115.40"
  WoW_Rabbit:
    image: rabbitmq:3-management
    restart: always
    ports:
      - 5672:5672
    networks:
      - wow
      - web
  WoW_MongoDB:
    image: mongo
    restart: always
    volumes:
      - /data/WoW/mongo_data:/data/db
    ports:
      - 27017:27017
    networks:
      - wow
      - web
networks:
  web:
    external:
      name: web
  wow:
    driver: overlay
